body{
  background-image: url('./images/pexels-francesco-ungaro-1525041.jpg');
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
}

.container {
    background-color: rgba(214, 214, 234, 0.7);
    height: 560px;
    width: 400px;
    margin: 100px auto;
    text-align: center;
    border: 2px solid black;
    border-radius: 5%;
    box-shadow: 20px 4px 5px 2px rgba(0, 0, 0, 0.14);
}

.screen {
    width: 350px;
    height: 15%;
    margin: 30px auto;
    text-align: right;
    display: flex;
    justify-content: right;
  }

  .display {
    background-color: #e0e0e085;
    border: 2px solid #000;
    border-radius: 15px;
    width: 90%;
    height: 70px;
    font-size: 24px;
    justify-content: end;
  }

  .display-output {
    margin: 0;
    font-family: DS-digi;
    font-size: 60px;
    color: #000;
    text-align: right;
    line-height: normal;
    padding: 3px 5px;
  }
  
  .keyboards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  }

  .keyboard_row {
    display: flex;
    justify-content: right;
  }

  .keyboard_row:nth-child(5) {
    justify-content: left;
  }
  
  .keyboard_row:last-child {
    justify-content: right;
}

  .btn {
    width: 20%;
    height: 50px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    background-color: #f0f0f0;
    border: 2px solid #cccccc00;
    border-radius: 21%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    box-shadow: 2px -2px 4px 0 rgba(0, 0, 0, 0.5);
  }
  
  .btn:hover {
    background-color: #e0e0e0;
  }

  .btn.mini-operator {
    background-color: #e0e0e07d;
  }

  .btn.mini-operator:hover {
    background-color: #cec0c069;
  }
  
  .btn.operator {
    background-color: #ff9800;
  }

  .btn.operator:hover {
    background-color: #ff9900cb;
  }

  .btn.red-operator {
    background-color: #ff0000;
  }

  .btn.red-operator:hover {
    background-color: #ff0000b6;
  }

  .logo {
    position: absolute;
    margin-top: 500px;
    margin-left: -180px;
    border-radius: 30%;
    width: 50px;
    height: 50px;
    transition: all 1s ease;
    cursor: pointer;
    z-index: 1;
  }

  .cyber {
    color: #ff0000;
    -webkit-text-stroke-width: 0.5px; /* Ширина контуру */
    -webkit-text-stroke-color: black; /* Колір контуру */
    font-size: large ;
    display: block;
    position: absolute;
    margin-top: 520px;
    margin-left: 80px;
    transition: all 1s ease;
    cursor: pointer;
    z-index: 1;
  }

  .logo:hover {
    transform: scale(1.1) translate(10%, -10%);
}

  .cyber:hover {
    transform: scale(1.1) translate(10%, -10%);
  }


  .plus {
    position: absolute;
    margin-top: -65px;
    height: 120px;
    width: 80px;
  }
  

  .equal {
    position: absolute;
    margin-top: -65px;
    margin-right: 110px;
    background-color: #5bdef9;
    height: 120px;
    width: 80px;
  }
  
  .btn.equal:hover {
    background-color: #5bdff9d0;
  }